<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>python Programming</title>
</head>
<body>
    <section class="carddesc">
        <div class="container">
            <h1 style="text-align: center; border:0px solid black; background-color: rgb(129, 129, 221);">Python Programming</h1>
            <h6>Learning zero to building real projects</h6>
            <div class="box" style="margin:0 auto; width:500px; height:500px; border:2px solid black; border-radius: 12px;">
                <i style="margin-left:20px; font-weight: 600;"><strong>Instructors:"John Smith"</strong></i>
                <p style="margin-left:20px;">Duration:3 months</p>
                <p class="desc" style="margin-left:20px;">
                    <strong>What you'll Learn</strong></br >
                    ✓Python basics</br >
                    ✓Loops</br >
                    ✓Functions</br >
                    ✓OOP</br >
                    ✓Projects</br >
                </p>
                <div class="requirements" style="margin-left:20px;">
                    <h4>Essentials Requirements for Learning:</h4>
                    High speed Internet</br >
                    Laptop/Desktop</br >
                    Basic Computer Knowledge</br >
                </div>
            </div>
        </div>
    </section>


    
</body>
</html>