{% extends 'base.html'%}
{% load static %}
{% block title %}LOGIN{% endblock%}
{% block content %}


<body class="r">
     {% include 'msg.html' %}
    <section class="ab">
                <div class="card"  height="80%" style="width: 20rem;">
                    <div class="card-body">
                        <img src="{%static 'img/logo.png'%}" alt="Weducation logo" width="40%">
                       
                        <form method="post" enctype="multipart/form-data" action="{% url 'register' %}">
                             {% csrf_token %}

                            <div class="input-box">
                                <i class="fa-regular fa-user"></i>
                                <input type="text" placeholder="Enter your name" name="username">
                            </div>

                            <div class="input-box">
                                <i class="fa-regular fa-envelope"></i>
                                <input type="email" placeholder="Enter your email" name="email">
                            </div>

                            <div class="input-box">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" placeholder="Create a password" name="password">
                                <i class="fa-regular fa-eye eye"></i>
                            </div>
                            <div class="input-box">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" placeholder="Confirm a password" name="confirmpassword">
                                <i class="fa-regular fa-eye eye"></i>
                            </div>

                            <div class="terms">
                                <input type="checkbox">
                                <label> I accept all terms & conditions</label>
                            </div>

                            <button class="btn btn-primary" type="submit">Register</button>

                            <p class="login">
                                Already have an account?
                                <a href="{%url 'userlogin'%}">Login Now</a>
                            </p>
                            </form>
                        </div>
                    </div>
                </div>
    </section>


{% endblock %}