{% extends 'base.html'%}
{% load static %}
{% block title %}LOGIN{% endblock%}

{% block body_class %}ir{% endblock %}
{% block content %}


     {% include 'msg.html' %}
    <section class="ulogin">
            <div class="card" style="width:20rem">
                <div class="card-body">
                    <img src="{%static 'img/logo.png'%}" alt="Weducation logo" width="40%">
                    <p>USER LOGIN</p>
                   
                    <form method="post" enctype="multipart/form-data" action="{% url 'loginaction' %}">
                        {% csrf_token %}

                        <div class="input-box">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" name="username" placeholder="Enter your name">
                        </div>

                        <div class="input-box">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="password" placeholder="Enter your password">
                            <i class="fa-regular fa-eye eye"></i>
                        </div>

                        <div class="terms">
                            <input type="checkbox">
                            <label>Remember me</label>
                            <p onclick="openforget()">Forget password?</p>
                        </div>

                        <button class="btn btn-primary" >Login</button>

                        <p class="login">
                            New User?
                            <a href="{%url 'register'%}">Register Now</a>
                        </p>
                    </form>
    </section>



{% endblock %}