{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body class="ir">
    <section class="ulogin">
            <div class="card" style="width:20rem">
                <div class="card-body">
                    <img src="{%static 'img/logo.png'%}" alt="Weducation logo" width="40%">
                    <p>USER LOGIN</p>
                    <form method="post" enctype="multipart/form-data" action="{% url 'userlogin' %}">
                             {% csrf_token %}

                        <div class="input-box">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" placeholder="Enter your name">
                        </div>

                        <div class="input-box">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Enter a password">
                            <i class="fa-regular fa-eye eye"></i>
                        </div>
                        <div class="input-box">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Renter a password">
                            <i class="fa-regular fa-eye eye"></i>
                        </div>

                        <div class="terms">
                            <input type="checkbox">
                            <label>Remember me</label>
                            <p onclick="openforget()">Forget password?</p>
                        </div>

                        <button class="btn btn-primary" >Login</button>

                        <p class="login">
                            New User?
                            <a href="{%url 'register'%}">Register Now</a>
                        </p>
                    </form>
    </section>





    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>